{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="wrapper">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="input-field">
            {{ form.username|as_crispy_field }}
            <label>Enter your username</label>
        </div>
        <div class="input-field">
            {{ form.password|as_crispy_field }}
            <label>Enter your password</label>
        </div>
                <button type="submit" class="button-85">Login</button>
        <div class="register">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>
</div>
{% endblock %}
